APP_BASE_URL=
SERVICE_PRIVATE_IP=
MONITORING_PRIVATE_IP=

LOKI_TENANT_ID=redo
LOKI_BASIC_AUTH_USERNAME=
LOKI_BASIC_AUTH_PASSWORD=

DB_URL=
DB_USERNAME=
DB_PASSWORD=

MAIL_USERNAME=
MAIL_PASSWORD=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

GEMINI_API_KEY=

JWT_SECRET=

JUSO_API_KEY=
JUSO_RESPONSE_TIMEOUT_MILLIS=5000

S3_BUCKET=
AWS_REGION=ap-northeast-2
